@font-face {
  src: url('/assets/CursedTimerULiL.ttf') format('ttf'),
    url('./assets/CursedTimerULiL.woff') format('woff');
  font-family: 'CustomFont';
}

@font-face {
  src: url('./assets/timer.ttf') format('truetype');
  font-family: 'TimerFont';
}

body {
  margin: 20px;
  box-sizing: border-box;
  background-image: url('./images/game2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(25, 25, 25);
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 5px white;
  width: 260px;
  height: 199px;
  color: rgb(6, 125, 6);
}

#countdown-el {
  border: 1px solid rgb(25, 25, 25);
  background-color: rgb(0, 0, 0);
  width: 304px;
  height: 109px;
  font-size: 50px;
  text-align: center;
  color: orange;
  padding: 20px;
  font-family: 'TimerFont';
  box-shadow: 0 0 1px rgb(248, 52, 52);
}

.countdown__btn {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

#start-btn {
  margin-top: 5px;
  height: 40px;
  background-color: rgb(111, 111, 244);
}

#home-el,
#guest-el {
  font-family: 'CustomFont';
  font-size: 120px;
}

#home-foul,
#guest-foul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  color: red;
}

.primary-btn {
  margin-top: 15px;
  height: 35px;
  width: 50px;
  background-color: rgb(111, 111, 244);
}

.foul-btn {
  width: 60px;
}

.home__btn,
.guest__btn {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: green;
}

.title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
  text-shadow: 0 0 5px black;
  color: rgb(228, 236, 242);
}

.home-title {
  border: 5px solid rgb(255, 0, 0);
}

.guest-title {
  border: 5px solid rgb(5, 50, 232);
}
